---
Language:                         Cpp
BasedOnStyle:                     Webkit
AccessModifierOffset:             -4
BreakBeforeBraces:                Linux
ColumnLimit:                      120 
IndentWidth:                      4
DerivePointerAlignment:           false
PointerAlignment:                 Left
NamespaceIndentation:             None
